body
{
    font-family: Arial;
    background-color: darkcyan;
    color: aliceblue;
    text-align: center;
}

.container
{
    /* flex: establishes the div as a flexbox */
    display:flex;
    background-color: rgb(100, 180, 200);
    /* justify content: commands the space around the individual divs */
    justify-content: space-around;
    /* align items: Aligns the items vertically */
    align-items: center;
    /* flex direction: The direction in which the divs are listed, can be reversed and vertical */
    flex-direction: row;
    /* flex wrap: How the divs are to behave when they exceed their boundaries */
    flex-wrap: wrap;
}

#coolercontainer
{
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

div > div
{
    padding:100px;
    margin:50px;
    background-color: lightblue;
}

div > div:nth-child(odd)
{
    background-color: indigo;
}

div > div:last-child
{
    background-color: black;
}

div > div:first-of-type
{
    background-color: aliceblue;
    color: black;
}

div > div:hover
{
    padding:100px;
    margin:50px;
    background-color: darkcyan;
    color: orange;
    /* flex: The proportion of the flex container that the div will take up, 2 will take up the space of 2 cells if all other cells are 1 */
    flex: 2;
    /* transition: how suddenly the changes are applied, higher values will smooth the transition further */
    transition: 200ms;
}